In [ ]:
!pip install semopy

Requirement already satisfied: semopy in /usr/local/lib/python3.12/dist-packages (2.3.11)
Requirement already satisfied: scipy in /usr/local/lib/python3.12/dist-packages (from semopy) (1.16.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from semopy) (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from semopy) (2.2.2)
Requirement already satisfied: sympy in /usr/local/lib/python3.12/dist-packages (from semopy) (1.14.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.12/dist-packages (from semopy) (1.6.1)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.12/dist-packages (from semopy) (0.14.6)
Requirement already satisfied: numdifftools in /usr/local/lib/python3.12/dist-packages (from semopy) (0.9.42)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->semopy) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->semopy) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->semopy) (2025.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn->semopy) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn->semopy) (3.6.0)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.12/dist-packages (from statsmodels->semopy) (1.0.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.12/dist-packages (from statsmodels->semopy) (25.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.12/dist-packages (from sympy->semopy) (1.3.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->semopy) (1.17.0)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import pearsonr

In [ ]:
df = pd.read_excel("/content/Kuesioner Kepribadian II (Responses).xlsx")

In [ ]:
df

,Timestamp,Nama,Saya merupakan perwakilan dari populasi,Wirausaha apa yang sedang direncanakan?,UMKM apa yang sedang dijalankan?,Jurusan apa yang sedang dijalani?,Saat ini sedang berperan sebagai apa?,1. Saya tertantang oleh ketidakpastian dan masalah yang belum terpecahkan. (INN-CE1),"2. Saya percaya diri dapat melakukan networking, yaitu membangun hubungan dan bertukar informasi yang bermanfaat dengan berbagai pihak untuk mendukung kegiatan atau proyek saya. (SE-M1)","3. Jika saya tidak langsung mengerti sebuah masalah, saya mulai merasa cemas. (NACH-FF2)",...,15. Saya sering mengimprovisasi metode untuk memecahkan masalah ketika jawabannya tidak jelas. (INN-CE2),16. Saya merasa keberhasilan dalam pekerjaan banyak ditentukan oleh faktor di luar kendali saya. (LOC-E1),"17. Saya percaya diri dapat meyakinkan orang lain untuk memahami, mendukung, dan ikut berkomitmen pada visi serta rencana yang saya buat. (SE-M2)",18. Saya percaya diri dapat merancang ide atau solusi baru yang sesuai dengan kebutuhan pasar. (SE-S2),19. Saya percaya bahwa hasil pekerjaan saya bergantung pada usaha dan cara saya bekerja. (LOC-I2),20. Saya merasa antusias ketika harus beradaptasi dengan situasi baru. (INN-W2),"21. Saya percaya diri dapat menyusun rencana bisnis, termasuk memperkirakan permintaan pasar dan strategi pemasaran. (SE-P1)",22. Saya menikmati mencoba ide-ide baru. (INN-O1),23. Saya percaya diri dapat memilih orang yang tepat untuk bekerja sama dan membantu mereka mengembangkan kemampuan yang dibutuhkan. (SE-IP2),"24. Saya takut gagal dalam situasi agak sulit, ketika banyak hal bergantung pada saya. (NACH-FF1)"
0,2025-10-07 13:03:11.659,Yulianti wijaya,Pelaku UMKM,NaN,Usaha kue basah dan kering,NaN,NaN,3,5,1,...,4,4,4,4,5,4,4,4,3,4
1,2025-10-07 13:05:54.291,Evy holing,Pelaku UMKM,NaN,PO cake and pastry,NaN,NaN,4,4,3,...,4,3,4,4,5,4,4,4,4,3
2,2025-10-07 13:11:33.515,Lanny Agustina,Pelaku UMKM,NaN,Wiraswasta di pasar,NaN,NaN,4,3,4,...,3,3,4,3,4,4,2,4,4,2
3,2025-10-07 13:17:30.798,Victor Salin,Pelaku UMKM,NaN,Rumah makan dan katering,NaN,NaN,4,3,2,...,4,4,4,3,4,3,3,3,3,3
4,2025-10-07 14:11:41.634,Meli,Pelaku UMKM,NaN,"Retail bahan baku kue dan roti , rumah makan",NaN,NaN,4,4,2,...,5,3,4,4,4,5,4,4,4,2
5,2025-10-07 14:14:54.296,Lili,Profesional,NaN,NaN,NaN,Leader team asuransi,5,5,2,...,4,2,4,4,4,4,4,4,4,2
6,2025-10-07 15:23:51.828,Maria Virginia Lim,Profesional,NaN,NaN,NaN,Karyawan swasta divisi Accounting,4,4,2,...,5,4,4,5,5,5,4,4,5,4
7,2025-10-07 15:46:36.849,Diane Taruno,Pelaku UMKM,NaN,bakpao,NaN,NaN,4,5,3,...,5,4,4,5,5,3,4,4,5,4
8,2025-10-07 16:05:10.037,linjuntak,Pelaku UMKM,NaN,retail komputer,NaN,NaN,5,5,1,...,5,1,5,3,5,4,4,4,4,1
9,2025-10-08 09:30:03.700,Karisen Williem,Pelaku UMKM,NaN,Bimbingan Belajar,NaN,NaN,2,3,4,...,5,3,4,5,3,4,4,5,3,4
10,2025-10-08 10:12:40.280,Angelica Felicia,Pelajar/Mahasiswa,NaN,NaN,International Economic and Trade,NaN,3,3,5,...,4,3,4,3,4,4,2,5,1,5
11,2025-10-08 13:15:33.080,Ronny,Profesional,NaN,NaN,NaN,vice director,5,5,3,...,5,5,5,5,5,5,5,5,5,3
12,2025-10-08 13:17:33.965,Valencia Michelle Liu,Pelajar/Mahasiswa,NaN,NaN,Aktuaria,NaN,4,4,4,...,4,2,4,4,4,4,4,4,4,3
13,2025-10-08 18:52:14.483,eunique,Pelajar/Mahasiswa,NaN,NaN,fashion design,NaN,4,3,2,...,3,3,3,3,4,2,3,3,2,2
14,2025-10-08 18:54:26.587,Ellen Gracia Wirawan,Pelajar/Mahasiswa,NaN,NaN,Taxation,NaN,5,2,4,...,4,5,3,2,4,1,2,4,3,4
15,2025-10-08 19:38:21.012,Gitta (Leony),Profesional,NaN,NaN,NaN,Account manager,4,5,2,...,4,2,4,4,4,4,5,4,5,2
16,2025-10-08 21:22:09.717,Veronica,Pelajar/Mahasiswa,NaN,NaN,Desain Komunikasi Visual,NaN,3,5,4,...,4,5,5,4,4,4,3,5,4,5
17,2025-10-09 00:14:17.063,Vincent Pho Wijaya,Calon wirausahawan,Game development,NaN,NaN,NaN,4,5,3,...,3,3,4,4,5,3,4,4,4,3
18,2025-10-09 00:14:38.088,Bagas Hidayat,Calon wirausahawan,Studio Game Development,NaN,NaN,NaN,4,5,2,...,5,3,4,4,4,4,4,5,4,2
19,2025-10-09 00:45:37.747,Richard,Calon wirausahawan,Game Studio,NaN,NaN,NaN,4,5,2,...,4,4,4,4,5,5,5,5,5,1
20,2025-10-09 00:56:41.208,Tengku Muhammad Baha'uddin,Calon wirausahawan,Game Dev Studio,NaN,NaN,NaN,4,4,5,...,4,2,3,4,4,3,4,5,4,4
21,2025-10-09 10:28:29.343,Musyaffa Ayman Rafif,Profesional,NaN,NaN,NaN,Business Analyst,3,4,5,...,5,4,5,4,5,5,5,4,5,4
22,2025-10-09 10:28:31.916,Samuel Caesar Paskalis,Calon wirausahawan,Fruity Shane,NaN,NaN,NaN,4,4,4,...,4,2,4,4,5,5,2,2,2,4
23,2025-10-09 10:30:04.264,Alvin Linardi,Pelajar/Mahasiswa,NaN,NaN,Teknik Informatika,NaN,4,4,3,...,5,4,4,4,4,3,3,4,2,5
24,2025-10-09 11:11:34.883,Sohpia,Profesional,NaN,NaN,NaN,Direktur,4,4,3,...,4,4,4,4,3,4,4,4,4,3
25,2025-10-09 13:13:43.282,Cynthia Anne Ramali,Calon wirausahawan,Salt Bread,NaN,NaN,NaN,3,5,3,...,4,3,4,4,5,3,5,4,4,4
26,2025-10-09 14:02:32.643,Jaceline Marvelle Lim,Pelajar/Mahasiswa,NaN,NaN,Komunikasi Strategi,NaN,4,5,5,...,4,3,4,4,5,5,3,4,3,4
27,2025-10-09 22:53:07.938,gabriella,Pelajar/Mahasiswa,NaN,NaN,data science,NaN,4,4,4,...,4,4,4,4,4,4,4,4,4,4
28,2025-10-09 23:41:16.702,Marvella Metta Sutioso,Pelajar/Mahasiswa,NaN,NaN,Farmasi,NaN,4,4,4,...,3,5,4,3,4,3,3,4,4,5

In [ ]:
df.columns = df.columns.str.extract(r'\((\w+-\w+\d+)\)').iloc[:, 0]
display(df.head())

,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INN-CE1,SE-M1,NACH-FF2,...,INN-CE2,LOC-E1,SE-M2,SE-S2,LOC-I2,INN-W2,SE-P1,INN-O1,SE-IP2,NACH-FF1
0,2025-10-07 13:03:11.659,Yulianti wijaya,Pelaku UMKM,NaN,Usaha kue basah dan kering,NaN,NaN,3,5,1,...,4,4,4,4,5,4,4,4,3,4
1,2025-10-07 13:05:54.291,Evy holing,Pelaku UMKM,NaN,PO cake and pastry,NaN,NaN,4,4,3,...,4,3,4,4,5,4,4,4,4,3
2,2025-10-07 13:11:33.515,Lanny Agustina,Pelaku UMKM,NaN,Wiraswasta di pasar,NaN,NaN,4,3,4,...,3,3,4,3,4,4,2,4,4,2
3,2025-10-07 13:17:30.798,Victor Salin,Pelaku UMKM,NaN,Rumah makan dan katering,NaN,NaN,4,3,2,...,4,4,4,3,4,3,3,3,3,3
4,2025-10-07 14:11:41.634,Meli,Pelaku UMKM,NaN,"Retail bahan baku kue dan roti , rumah makan",NaN,NaN,4,4,2,...,5,3,4,4,4,5,4,4,4,2

In [ ]:
import numpy as np

def cronbach_alpha(df):
    """Calculates Cronbach's alpha for a DataFrame."""
    # Number of items
    n_items = df.shape[1]

    # Calculate the variance of each item
    item_variances = df.var(axis=0, ddof=1)

    # Calculate the variance of the sum of the items
    total_variance = df.sum(axis=1).var(ddof=1)

    # Calculate Cronbach's alpha
    alpha = (n_items / (n_items - 1)) * (1 - (item_variances.sum() / total_variance))

    return alpha

# Define the groups of columns to analyze
groups = {
    'INN': ['INN-CE1', 'INN-CE2', 'INN-O1', 'INN-O2', 'INN-W1', 'INN-W2'],
    'SEM': ['SE-M1', 'SE-M2'],
    'SEP': ['SE-P1', 'SE-P2'],
    'SEIP': ['SE-IP1', 'SE-IP2'],
    'SEIF': ['SE-IF1', 'SE-IF2'],
    'SES': ['SE-S1', 'SE-S2'],
    'LOCI': ['LOC-I1', 'LOC-I2'],
    'LOCE': ['LOC-E1', 'LOC-E2'],
    'NACHFF': ['NACH-FF1', 'NACH-FF2'],
    'NACHHS': ['NACH-HS1', 'NACH-HS2']
}

# Calculate and display Cronbach's alpha for each group
reliability_results = {}
for group_name, columns in groups.items():
    if all(col in df.columns for col in columns):
        reliability_results[group_name] = cronbach_alpha(df[columns])
    else:
        reliability_results[group_name] = f"One or more columns not found: {columns}"


for group, alpha in reliability_results.items():
    print(f"Cronbach's Alpha for {group}: {alpha}")

Cronbach's Alpha for INN: 0.5857780831329442
Cronbach's Alpha for SEM: 0.6014234875444846
Cronbach's Alpha for SEP: 0.6418338108882526
Cronbach's Alpha for SEIP: 0.44334975369458185
Cronbach's Alpha for SEIF: 0.47948717948717956
Cronbach's Alpha for SES: 0.7022222222222234
Cronbach's Alpha for LOCI: 0.4853333333333325
Cronbach's Alpha for LOCE: 0.7191637630662013
Cronbach's Alpha for NACHFF: 0.759228650137741
Cronbach's Alpha for NACHHS: 0.2349726775956269

In [ ]:
r_table = 0.3673
# 8. TAMPILAN VALIDITAS (Dipisah per Tabel Variabel)
print("\n--- HASIL UJI VALIDITAS (Item-Total Pearson Correlation) ---")
for g_name, cols in groups.items():
    print(f"\nVariabel: {g_name}")

    subset = df[cols]
    total_score = subset.sum(axis=1)

    v_results = []
    for col in cols:
        r, p = pearsonr(subset[col], total_score)
        v_results.append({
            "Item": col,
            "Pearson r": round(float(r), 3),
            "p-value": round(float(p), 4),
            "Status": "Valid" if float(r) > r_table else "Tidak Valid"
        })
    df_validitas = pd.DataFrame(v_results)
    print(df_validitas)

--- HASIL UJI VALIDITAS (Item-Total Pearson Correlation) ---

Variabel: INN
      Item  Pearson r  p-value       Status
0  INN-CE1      0.285   0.1342  Tidak Valid
1  INN-CE2      0.649   0.0001        Valid
2   INN-O1      0.409   0.0278        Valid
3   INN-O2      0.716   0.0000        Valid
4   INN-W1      0.674   0.0001        Valid
5   INN-W2      0.648   0.0001        Valid

Variabel: SEM
    Item  Pearson r  p-value Status
0  SE-M1      0.929      0.0  Valid
1  SE-M2      0.779      0.0  Valid

Variabel: SEP
    Item  Pearson r  p-value Status
0  SE-P1      0.856      0.0  Valid
1  SE-P2      0.860      0.0  Valid

Variabel: SEIP
     Item  Pearson r  p-value Status
0  SE-IP1      0.720      0.0  Valid
1  SE-IP2      0.881      0.0  Valid

Variabel: SEIF
     Item  Pearson r  p-value Status
0  SE-IF1      0.842      0.0  Valid
1  SE-IF2      0.780      0.0  Valid

Variabel: SES
    Item  Pearson r  p-value Status
0  SE-S1      0.893      0.0  Valid
1  SE-S2      0.864      0.0  Valid

Variabel: LOCI
     Item  Pearson r  p-value Status
0  LOC-I1      0.796      0.0  Valid
1  LOC-I2      0.829      0.0  Valid

Variabel: LOCE
     Item  Pearson r  p-value Status
0  LOC-E1      0.879      0.0  Valid
1  LOC-E2      0.888      0.0  Valid

Variabel: NACHFF
       Item  Pearson r  p-value Status
0  NACH-FF1      0.896      0.0  Valid
1  NACH-FF2      0.899      0.0  Valid

Variabel: NACHHS
       Item  Pearson r  p-value Status
0  NACH-HS1      0.761      0.0  Valid
1  NACH-HS2      0.745      0.0  Valid