In [ ]:
!pip install semopy

Collecting semopy
  Downloading semopy-2.3.11.tar.gz (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 15.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: scipy in /usr/local/lib/python3.12/dist-packages (from semopy) (1.16.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from semopy) (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from semopy) (2.2.2)
Requirement already satisfied: sympy in /usr/local/lib/python3.12/dist-packages (from semopy) (1.14.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.12/dist-packages (from semopy) (1.6.1)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.12/dist-packages (from semopy) (0.14.6)
Collecting numdifftools (from semopy)
  Downloading numdifftools-0.9.42-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->semopy) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->semopy) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->semopy) (2025.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn->semopy) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn->semopy) (3.6.0)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.12/dist-packages (from statsmodels->semopy) (1.0.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.12/dist-packages (from statsmodels->semopy) (25.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.12/dist-packages (from sympy->semopy) (1.3.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->semopy) (1.17.0)
Downloading numdifftools-0.9.42-py3-none-any.whl (94 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 94.3/94.3 kB 7.5 MB/s eta 0:00:00
Building wheels for collected packages: semopy
  Building wheel for semopy (setup.py) ... done
  Created wheel for semopy: filename=semopy-2.3.11-py3-none-any.whl size=1659682 sha256=6180ca786bf1d55627dea345698af00c1362cf4398bfe56bcafa3be4216e33a2
  Stored in directory: /root/.cache/pip/wheels/c6/24/8b/be911b059a61f490f38425eb19bf2fed470a5ead97228e8255
Successfully built semopy
Installing collected packages: numdifftools, semopy
Successfully installed numdifftools-0.9.42 semopy-2.3.11

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import pearsonr

In [ ]:
df = pd.read_excel("/content/Kuesioner Kepribadian (Responses).xlsx")

In [ ]:
df

,Timestamp,Saya merupakan perwakilan dari populasi,Wirausaha apa yang sedang direncanakan?,UMKM apa yang sedang dijalankan?,Jurusan apa yang sedang dijalani?,Saat ini sedang berperan sebagai apa?,1. Saya tertantang oleh ketidakpastian dan masalah yang belum terpecahkan. (INN-CE1),"2. Saya percaya diri dapat melakukan networking, yaitu membangun hubungan dan bertukar informasi yang bermanfaat dengan berbagai pihak untuk mendukung kegiatan atau proyek saya. (SE-M1)","3. Jika saya tidak langsung mengerti sebuah masalah, saya mulai merasa cemas. (NACH-FF2)","4. Saya percaya bahwa pada sebagian besar pekerjaan atau proyek, saya dapat mencapai tujuan yang saya tetapkan jika saya berusaha dengan sungguh-sungguh. (LOC-I1)",...,15. Saya sering mengimprovisasi metode untuk memecahkan masalah ketika jawabannya tidak jelas. (INN-CE2),16. Saya percaya bahwa mendapatkan pekerjaan atau kesempatan yang saya inginkan sebagian besar adalah masalah keberuntungan. (LOC-E1),"17. Saya percaya diri dapat meyakinkan orang lain untuk memahami, mendukung, dan ikut berkomitmen pada visi serta rencana yang saya buat. (SE-M2)",18. Saya percaya diri dapat merancang ide atau solusi baru yang sesuai dengan kebutuhan pasar. (SE-S2),"19. Saya percaya bahwa hasil pekerjaan atau karier saya terutama ditentukan oleh usaha, tekad, dan keputusan saya sendiri. (LOC-I2)",20. Saya merasa bahwa saya adalah anggota yang berpengaruh dalam kelompok saya. (INN-W2),"21. Saya percaya diri dapat menyusun rencana bisnis, termasuk memperkirakan permintaan pasar dan strategi pemasaran. (SE-P1)",22. Saya menikmati mencoba ide-ide baru. (INN-O1),23. Saya percaya diri dapat memilih orang yang tepat untuk bekerja sama dan membantu mereka mengembangkan kemampuan yang dibutuhkan. (SE-IP2),"24. Saya takut gagal dalam situasi agak sulit, ketika banyak hal bergantung pada saya. (NACH-FF1)"
0,2025-09-29 18:01:58.543,Pelaku UMKM,NaN,Usaha kue,Buat kue kering dan basah,NaN,4,4,4,5,...,4,4,5,4,5,4,3,4,4,3
1,2025-09-29 18:51:06.173,Profesional,NaN,NaN,NaN,Account Manager,4,5,2,5,...,5,2,5,5,3,4,4,5,4,2
2,2025-09-29 18:55:36.883,Pelaku UMKM,NaN,Wiraswasta di pasar,Ekonomi bisnis,NaN,4,4,4,4,...,4,2,3,3,5,1,2,4,3,4
3,2025-09-29 18:58:58.452,Pelajar/Mahasiswa,NaN,NaN,International Economics and Trade,NaN,3,4,5,5,...,3,4,2,4,5,1,3,5,2,5
4,2025-09-29 19:26:24.431,Pelaku UMKM,NaN,Rumah makan dan katering Putih Salju,NaN,NaN,4,3,3,4,...,4,3,3,4,4,4,4,3,3,3
5,2025-09-29 19:41:17.421,Profesional,NaN,NaN,NaN,Financial consultant,5,5,4,5,...,4,2,4,3,1,3,4,4,4,5
6,2025-09-29 19:44:40.355,Pelajar/Mahasiswa,NaN,NaN,Aktuaria,NaN,4,5,3,4,...,4,3,4,4,5,4,4,4,4,3
7,2025-09-29 20:01:47.111,Pelaku UMKM,NaN,retail IT,NaN,NaN,5,5,2,5,...,4,1,5,4,5,5,5,4,5,1
8,2025-09-29 20:05:46.026,Pelajar/Mahasiswa,NaN,NaN,taxation,NaN,2,4,4,5,...,1,2,2,2,5,2,2,4,2,5
9,2025-09-29 20:12:56.867,Pelajar/Mahasiswa,NaN,NaN,fashion design,NaN,3,3,2,4,...,3,3,3,4,4,4,2,4,3,3
10,2025-09-29 20:15:35.877,Profesional,NaN,NaN,NaN,Karyawan Swasta,4,5,2,5,...,4,2,4,4,4,4,4,4,4,3
11,2025-09-29 20:23:13.665,Pelajar/Mahasiswa,NaN,NaN,Komunikasi Strategis,NaN,3,5,5,5,...,5,1,5,3,5,5,4,5,5,4
12,2025-09-29 20:27:37.782,Pelaku UMKM,NaN,PO cake and pastry,NaN,NaN,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
13,2025-09-29 20:37:34.930,Pelaku UMKM,NaN,Usaha retail bahan baku cake dan bakery,NaN,NaN,4,5,3,5,...,4,4,5,5,5,3,4,4,4,2
14,2025-09-29 20:44:48.148,Pelajar/Mahasiswa,NaN,NaN,Desain Komunikasi Visual,NaN,3,5,5,4,...,4,4,5,3,4,5,3,4,5,5
15,2025-09-29 22:57:04.743,Pelaku UMKM,NaN,Bimbingan Belajar,NaN,NaN,3,5,3,5,...,5,2,5,3,5,5,5,5,4,4
16,2025-09-29 22:58:06.488,Pelajar/Mahasiswa,NaN,NaN,Teknik Informatika,NaN,4,4,4,5,...,4,3,4,3,5,3,3,4,3,5
17,2025-09-29 23:01:13.653,Pelaku UMKM,NaN,bakpao,NaN,NaN,3,4,4,5,...,3,2,4,4,4,4,4,5,5,4
18,2025-09-30 09:59:00.570,Calon wirausahawan,Usaha Salt Bread (FnB),NaN,NaN,NaN,4,4,4,5,...,3,2,4,3,4,4,4,4,4,3
19,2025-09-30 10:04:44.131,Profesional,NaN,NaN,NaN,Tim medis,3,4,2,3,...,3,3,4,3,3,4,4,4,4,3
20,2025-09-30 10:06:20.609,Calon wirausahawan,Makanan,NaN,NaN,NaN,4,5,4,5,...,4,4,4,4,4,4,4,4,4,4
21,2025-09-30 14:00:10.416,Calon wirausahawan,Game Developer,NaN,NaN,NaN,4,4,3,5,...,4,3,4,4,5,3,4,5,3,3
22,2025-09-30 16:49:00.548,Profesional,NaN,NaN,NaN,vice director,5,5,1,5,...,5,1,5,5,1,5,5,5,5,5
23,2025-09-30 21:39:18.911,Calon wirausahawan,Fruity Shane,NaN,NaN,NaN,4,4,4,3,...,5,5,4,3,5,5,4,4,5,4
24,2025-10-01 01:08:10.845,Calon wirausahawan,Game Dev,NaN,NaN,NaN,4,5,2,5,...,5,5,5,5,5,4,4,4,5,1
25,2025-10-01 01:09:41.758,Calon wirausahawan,Studio game developer,NaN,NaN,NaN,4,5,2,4,...,4,5,4,4,5,4,4,4,4,2
26,2025-10-01 01:10:17.012,Pelajar/Mahasiswa,NaN,NaN,Game Application And Technology,NaN,3,2,4,4,...,4,3,3,3,4,3,4,4,3,4
27,2025-10-01 06:58:14.074,Calon wirausahawan,Membuat game,NaN,NaN,NaN,4,2,5,4,...,2,4,1,2,4,3,2,2,3,5
28,2025-10-01 07:35:11.709,Profesional,NaN,NaN,NaN,Business Analyst,4,5,4,5,...,4,4,4,4,5,4,4,4,3,4
29,2025-10-01 13:37:51.297,Pelajar/Mahasiswa,NaN,NaN,Farmasi,NaN,3,4,4,5,...,4,5,4,3,5,3,3,4,3,5

In [ ]:
df.columns = df.columns.str.extract(r'\((\w+-\w+\d+)\)').iloc[:, 0]
display(df.head())

,NaN,NaN,NaN,NaN,NaN,NaN,INN-CE1,SE-M1,NACH-FF2,LOC-I1,...,INN-CE2,LOC-E1,SE-M2,SE-S2,LOC-I2,INN-W2,SE-P1,INN-O1,SE-IP2,NACH-FF1
0,2025-09-29 18:01:58.543,Pelaku UMKM,NaN,Usaha kue,Buat kue kering dan basah,NaN,4,4,4,5,...,4,4,5,4,5,4,3,4,4,3
1,2025-09-29 18:51:06.173,Profesional,NaN,NaN,NaN,Account Manager,4,5,2,5,...,5,2,5,5,3,4,4,5,4,2
2,2025-09-29 18:55:36.883,Pelaku UMKM,NaN,Wiraswasta di pasar,Ekonomi bisnis,NaN,4,4,4,4,...,4,2,3,3,5,1,2,4,3,4
3,2025-09-29 18:58:58.452,Pelajar/Mahasiswa,NaN,NaN,International Economics and Trade,NaN,3,4,5,5,...,3,4,2,4,5,1,3,5,2,5
4,2025-09-29 19:26:24.431,Pelaku UMKM,NaN,Rumah makan dan katering Putih Salju,NaN,NaN,4,3,3,4,...,4,3,3,4,4,4,4,3,3,3

Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

In [ ]:
import numpy as np

def cronbach_alpha(df):
    """Calculates Cronbach's alpha for a DataFrame."""
    # Number of items
    n_items = df.shape[1]

    # Calculate the variance of each item
    item_variances = df.var(axis=0, ddof=1)

    # Calculate the variance of the sum of the items
    total_variance = df.sum(axis=1).var(ddof=1)

    # Calculate Cronbach's alpha
    alpha = (n_items / (n_items - 1)) * (1 - (item_variances.sum() / total_variance))

    return alpha

# Define the groups of columns to analyze
groups = {
    'INN': ['INN-CE1', 'INN-CE2', 'INN-O1', 'INN-O2', 'INN-W1', 'INN-W2'],
    'SEM': ['SE-M1', 'SE-M2'],
    'SEP': ['SE-P1', 'SE-P2'],
    'SEIP': ['SE-IP1', 'SE-IP2'],
    'SEIF': ['SE-IF1', 'SE-IF2'],
    'SES': ['SE-S1', 'SE-S2'],
    'LOCI': ['LOC-I1', 'LOC-I2'],
    'LOCE': ['LOC-E1', 'LOC-E2'],
    'NACHFF': ['NACH-FF1', 'NACH-FF2'],
    'NACHHS': ['NACH-HS1', 'NACH-HS2']
}

# Calculate and display Cronbach's alpha for each group
reliability_results = {}
for group_name, columns in groups.items():
    if all(col in df.columns for col in columns):
        reliability_results[group_name] = cronbach_alpha(df[columns])
    else:
        reliability_results[group_name] = f"One or more columns not found: {columns}"


for group, alpha in reliability_results.items():
    print(f"Cronbach's Alpha for {group}: {alpha}")

Cronbach's Alpha for INN: 0.7241556220607096
Cronbach's Alpha for SEM: 0.8348348348348347
Cronbach's Alpha for SEP: 0.7010014306151646
Cronbach's Alpha for SEIP: 0.5860306643952296
Cronbach's Alpha for SEIF: 0.6945010183299394
Cronbach's Alpha for SES: 0.7080072245635154
Cronbach's Alpha for LOCI: 0.0404332129963898
Cronbach's Alpha for LOCE: 0.3242424242424238
Cronbach's Alpha for NACHFF: 0.767741935483871
Cronbach's Alpha for NACHHS: 0.22429906542055966

In [ ]:
# 4. Threshold Validitas (N=30 -> 0.361)
r_table = 0.361

# 5. Loop Perhitungan Validitas
print("\n--- HASIL UJI VALIDITAS (Item-Total Pearson Correlation) ---")
for g_name, cols in groups.items():
    print(f"\nVariabel: {g_name}")

    subset = df[cols]
    total_score = subset.sum(axis=1)

    v_results = []
    for col in cols:
        r, p = pearsonr(subset[col], total_score)
        v_results.append({
            "Item": col,
            "Pearson r": round(float(r), 3),
            "p-value": round(float(p), 4),
            "Status": "Valid" if float(r) > r_table else "Tidak Valid"
        })

    df_validitas = pd.DataFrame(v_results)
    print(df_validitas)

--- HASIL UJI VALIDITAS (Item-Total Pearson Correlation) ---

Variabel: INN
      Item  Pearson r  p-value Status
0  INN-CE1      0.525   0.0029  Valid
1  INN-CE2      0.833   0.0000  Valid
2   INN-O1      0.514   0.0037  Valid
3   INN-O2      0.571   0.0010  Valid
4   INN-W1      0.774   0.0000  Valid
5   INN-W2      0.644   0.0001  Valid

Variabel: SEM
    Item  Pearson r  p-value Status
0  SE-M1      0.917      0.0  Valid
1  SE-M2      0.940      0.0  Valid

Variabel: SEP
    Item  Pearson r  p-value Status
0  SE-P1      0.843      0.0  Valid
1  SE-P2      0.922      0.0  Valid

Variabel: SEIP
     Item  Pearson r  p-value Status
0  SE-IP1      0.824      0.0  Valid
1  SE-IP2      0.858      0.0  Valid

Variabel: SEIF
     Item  Pearson r  p-value Status
0  SE-IF1      0.888      0.0  Valid
1  SE-IF2      0.863      0.0  Valid

Variabel: SES
    Item  Pearson r  p-value Status
0  SE-S1      0.872      0.0  Valid
1  SE-S2      0.888      0.0  Valid

Variabel: LOCI
     Item  Pearson r  p-value Status
0  LOC-I1      0.517   0.0035  Valid
1  LOC-I2      0.868   0.0000  Valid

Variabel: LOCE
     Item  Pearson r  p-value Status
0  LOC-E1      0.821      0.0  Valid
1  LOC-E2      0.722      0.0  Valid

Variabel: NACHFF
       Item  Pearson r  p-value Status
0  NACH-FF1      0.909      0.0  Valid
1  NACH-FF2      0.893      0.0  Valid

Variabel: NACHHS
       Item  Pearson r  p-value Status
0  NACH-HS1      0.782      0.0  Valid
1  NACH-HS2      0.718      0.0  Valid